.skeleton {
    background-color: #e0e0e0;
    border-radius: var(--radius-sm);
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.skeleton.profile-image {
    height: 240px;
    border-radius: var(--radius-xl);
    margin-bottom: 1rem;
}

.skeleton.profile-name {
    width: 200px;
    height: 40px;
    margin: 0.5em 0;
}

.skeleton.title {
    width: 150px;
    height: 25px;
    margin: 0.5em 0 1em;
}

.skeleton.numbers {
    display: flex;
    gap: 2em;
    margin: 1em 0;
}

.skeleton.number {
    width: 80px;
    height: 20px;
}

.skills-label {
    margin: 1em 0 0.5em;
}

.skeleton.skills {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    max-width: 600px;
}

.skeleton.skill {
    width: 80px;
    height: 25px;
}