nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 1em 2em;
    border-radius: 0 0 var(--radius-lg) var(--radius-lg);
    background-color: var(--nav-bg);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: var(--elevation-2);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-profile-image {
    height: 50px;
    box-shadow: var(--elevation-1), var(--elevation-2);
    border-radius: var(--radius-sm);
}

.profile-menu {
    position: relative;
}

.profile-menu-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--background);
    border: none;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.3s;
    padding: 0;
    border-radius: var(--radius-sm);
}

.profile-menu-button:hover {
    background-color: var(--background);
    box-shadow: var(--elevation-2);
}

.arrow-icon {
    font-size: 0.8rem;
}

.arrow-icon svg {
    fill: var(--text);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    padding: 0.5rem;
    min-width: 200px;
    margin-top: 0.5em;
    box-shadow: var(--elevation-1), var(--elevation-2);
}

.dropdown-item {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--text);
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-item:hover {
    background: var(--accent);
    color: var(--text);
}

.logo-link {
    margin-right: auto;
}

.logo {
    height: 40px;
}

.link {
    font-size: 1.2rem;
}

.logout-btn {
    font-size: 1rem;
}