:root {
  --bg: #F0F4F8;
  --bg-darker: color-mix(in srgb, var(--bg) 80%, rgb(233, 233, 233));
  --text: #1A1D23;
  --text-secondary: #666;
  --accent: #318BDA;
  --accent-dark: #2978bd;
  --nav-bg: rgba(255, 255, 255, 0.9);
  --chip-bg: #E3E8EE;
  --font-primary: 'Manrope', sans-serif;
  --radius-xs: 8px;
  --radius-sm: 12px;
  --radius-md: clamp(12px, 2vw, 24px);
  --radius-lg: clamp(16px, 2vw, 24px);
  --radius-xl: clamp(20px, 3vw, 32px);
  --elevation-1: 0 1px 3px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
  --elevation-2: 0 8px 10px rgba(0, 0, 0, 0.05);

}

.dark {
  --bg: #11161D;
  --bg-darker: color-mix(in srgb, var(--bg) 85%, rgb(0, 0, 0));
  --text: #F0F4F8;
  --text-secondary: #bbbbbb;
  --accent: #318BDA;
  --nav-bg: rgba(20, 24, 30, 0.9);
  --chip-bg: #2A3442;
}

* {
  box-sizing: border-box;
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
  height: 100%;
}

button {
  background-color: var(--accent);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--radius-xs);
  cursor: pointer;
  transition: all 0.3s, color 0.3s;
}

button:hover {
  background-color: #0264cc;
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: color 0.3s, color 0.3s;
}

a:hover {
  color: #0264cc;
}

.page {
  padding: 2em;
  margin-top: 4em;
}

.signup-page,
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: calc(100% - 5em);
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  margin-top: 3em;
}

.auth-form label {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}

.auth-form input {
  width: 100%;
  margin-bottom: 1.2rem;
  border: none;
  border-bottom: 1px var(--text) solid;
  border-radius: 4px;
  font-size: 1.1rem;
  background-color: transparent;
  color: var(--text)
}

.auth-form input:focus {
  outline: none;
  border-bottom: 1px solid var(--accent);
}

.auth-form button[type="submit"] {
  font-size: 1.1rem;
}